<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css"/>
<link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body class="equip-page">
	
    	<%- include header.ejs %>
						<!---------------Header----------------->	
<header>
<div class="head-info">
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-5 col-sm-6 col-xs-7">
			<ul class="list-inline list-unstyled info">
				<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:info@equipshare.in">info@equipshare.in</a></li>
				<li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+91 9767460825">+91 9767460825</a></li>
			</ul>
		</div>
		<div class="col-lg-offset-5 col-lg-3 col-md-offset-3 col-md-4 col-sm-offset-0 col-sm-6 col-xs-offset-0 col-xs-5 social-icon-col">
			<ul class="list-inline list-unstyled social-icon">
				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
			</ul>
			<div class="logon-btns">
				<a href="#">Login</a> | <a href="#">Signup</a>
			</div>
		</div>

	</div>
</div>	

</div>	

<!---------Navigation-Bar------------->
<div class="site-navigation">
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<nav class="navbar" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display --->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="images/site-logo.png" class="img-responsive"></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling --->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="col-md-8 col-sm-8 col-xs-12">
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="listing.html">Rental</a></li>
      <li><a href="solution.html">Solution</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="career.html">Career</a></li>
      <li><a href="enquiry.html">Enquiry</a></li>
    </ul>

        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="q">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
        </form>
    </div>
  </div><!-- /.navbar-collapse --->
</nav>
</div>
</div>
</div>
</div>
<!---------Navigation-Bar------------->
</header>
				<!---------------Header----------------->
				<!---------------Featured-Image---------------->
<div class="Featured-image">
	<div class="caption">
		<h2>Equipments</h2>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	</div>
	<img src="images/featured-img.jpg" class="img-responsive">
	<a href="#" class="back-top-home"><img src="images/home-icon.png" class="img-responsive"></a>
</div>
					<!---------------Featured-Image----------------->		
					<!---------------Content---------------->
<div class="content">

	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
				<main>
	<div class="product-slide">
		<div class="slider-for">
 <div>
		<img src="images/product-images/product-1.jpg">
	</div>
  <div> 
<img src="images/product-images/product-2.jpg">
  </div>
  <div> 
<img src="images/product-images/product-3.jpg">
  </div>
  <div> 
<img src="images/product-images/product-4.jpg">
  </div>
</div>
<div class="slider-nav">
	<div>
		<img src="images/product-images/product-1.jpg">
	</div>
  <div> 
<img src="images/product-images/product-2.jpg">
  </div>
  <div> 
<img src="images/product-images/product-3.jpg">
  </div>
  <div> 
<img src="images/product-images/product-4.jpg">
  </div>
</div>
	</div>
<div class="logo-slide">
<h3>Our Brands</h3>	
<div class="single-item">
<div>
		<img src="images/partners-logo/logo-1.jpg">
</div>
<div>
		<img src="images/partners-logo/logo-2.jpg">
</div>
<div>
		<img src="images/partners-logo/logo-3.jpg">
</div>
<div>
		<img src="images/partners-logo/logo-4.jpg">
</div>
<div>
		<img src="images/partners-logo/logo-1.jpg">
</div>
</div>	
</div>	
</main>
			</div>
<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
	<aside>
		<div class="sidebar">
			<h3 class="title-heading">Transit Mixer</h3>
			<strong>Selt Loading Concrete Mixer</strong>
	<ul class="list-inline list-unstyled">
		<form method="get" action="">
				<li class="col">
			<label>Category</label>
			<select>
			<option>Select Category</option>
			<option>Select Category</option>
			<option>Select Category</option>
			<option>Select Category</option>
		</select>
		</li>
		<li class="col">
			<label>Sort by</label>
			<select>
			<option>Price - Low to High</option>
			<option>Price - Low to High</option>
			<option>Price - Low to High</option>
			<option>Price - Low to High</option>
		</select>
		</li>
			</form>
	</ul>
	<span class="price"><i class="fa fa-inr" aria-hidden="true"></i>52304.00 <small>/ Month</small></span>
	<ul class="list-inline list-unstyled des-btns">
		<li><a href="#">Share</a></li>
		<li><a href="#">Enquire Now</a></li>
	</ul>
	<div class="des">
	<strong>Description</strong>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
	</div>	
	<div class="spec">
		<strong>Specifications</strong>
		<table cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td>Make</td>
				<td>Ajax Foiri</td>
			</tr>
			<tr>
				<td>Year</td>
				<td>2014</td>
			</tr>
			<tr>
				<td>Capacity</td>
				<td>6 Cum</td>
			</tr>
			<tr>
				<td>Model</td>
				<td>2516</td>
			</tr>
			<tr>
				<td>Reference No.</td>
				<td>90844839582</td>
			</tr>
		</table>
	</div>
		</div>

		

	</aside>	
</div>

		</div>
	</div>


</div>
					<!---------------Content---------------->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<img src="images/footer-logo.png" class="img-responsive" alt="" title="">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
			<div class="footer-nav">	
				<div class="menu-area">
					<h4>Equipments</h4>
					<ul class="list-unstyled">
						<li><a href="#">Popular</a></li>
						<li><a href="#">Trending</a></li>
						<li><a href="#">Catalog</a></li>
						<li><a href="#">Features</a></li>
					</ul>
				</div>
				<div class="menu-area">
					<h4>Company</h4>
					<ul class="list-unstyled">
						<li><a href="index.html">Home</a></li>
						<li><a href="listing.html">Rentals</a></li>
						<li><a href="solution.html">Solutions</a></li>
						<li><a href="blog.html">Blog</a></li>
					</ul>
				</div>
				<div class="menu-area">
					<h4>Info</h4>
					<ul class="list-unstyled">
						<li><a href="#">Rental Terms</a></li>
						<li><a href="#">Disclaimer</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Tearms of Service</a></li>
					</ul>
				</div>
			</div>
			</div>
			<div class="col-lg-offset-0 col-lg-2 col-md-offset-0 col-md-2 col-sm-offset-1 col-sm-3 col-xs-offset-2 col-xs-8 minus-margin">
				<h4>Follow Us</h4>
				<ul class="list-inline list-unstyled footer-social-icon">
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
			</ul>
			<a href="#" class="contact-btn">Contact Us</a>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 copy-right"><p>&copy;2018 EquipShare. All rights reserved</p></div>
		</div>
	</div>
</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.slider-for').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: false,
  fade: true,
  asNavFor: '.slider-nav'
});
$('.slider-nav').slick({
  slidesToShow: 4,
  slidesToScroll: 1,
  asNavFor: '.slider-for',
  dots: false,
  autoplay: false,
  centerMode: false,
  focusOnSelect: true
});
});	
</script>
<script type="text/javascript">
$('.single-item').slick({
	autoplay: false,
	dots: false,
	arrows: false,
	slidesToShow: 4,
});	
</script>
<script>
	$(window).scroll(function(){
    if ($(window).scrollTop() >= 50) {
        $('.site-navigation').addClass('fixed-header');
    }
    else {
        $('.site-navigation').removeClass('fixed-header');
    }
});

</script>
<script src="js/owl.carousel.min.js"></script>
</body>
</html>